@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo  */

header {
    height: 150px;
    background-color: #5F0F02;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #252525;
}

#logo{
    float: left;
    margin-left: 30px;
    width: 150px;
    height: 150px;
    background: url(../images/marleys_v2.png) no-repeat center center;
    background-size: contain;
    }

/* navigation  */

#menu {
    font-size: 110%;
    letter-spacing: 4px;    
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px 30px 0 0;
    text-align: center;
    color: #F9EBD3;
    border-radius: 2px;
    padding: 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu li:hover{
    background-color: #D4BC9A;
    color: #5F0F02;
}

.active {
    border-bottom: 1px solid #8B624B;

}


/* main image  */
#main-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/feed_dog.jpg) no-repeat center center;


  /* animate zoom effect on loading page */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image  */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

#cover-text {
    font-size: 130%;
    font-family: lato, sans-serif;
    letter-spacing: 4px;
    
    width: 500px;
    height: 150px;
    
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(95, 15, 2, .7);

    bottom: 0px;
    left: 75px;

    position: absolute;
}



#cover-text > p {
    font-size: 75%;
    font-family: roboto, sans-serif;
    letter-spacing: 2px;
    padding-top: 30px;
}

/* Meal section */



/* how it works section */

#mainpage-title{
    font-size: 200%;
    font-family: lato, sans-serif;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #6B1704
}

#main-steps {
    height: 300px;
    background-color: #FBEBD5;
}

#different-steps {
    margin-top: 50px;
}

.left-step {
    width: 33%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;

    font-size: 75%;

    letter-spacing: 4px;
    
    width: 330px;
    height: 100px;
    
    padding: 10px;
    margin-left: 100px;
    background-color: rgba(212, 188, 154, 1);
}

.right-step {
    width: 33%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;

    font-size: 75%;

    letter-spacing: 4px;
    
    width: 330px;
    height: 100px;
    
    padding: 10px;
    margin-right: 100px;
    background-color: rgba(212, 188, 154, 1);
}


.center-step {
    font-size: 75%;
    line-height: 20px;
    letter-spacing: 4px;

    width: 330px;
    height: 100px;

    padding: 10px;
    margin: 0 auto;
    background-color: rgba(212, 188, 154, 1);
}

.left-step h2 {
    font-family: lato, sans-serif;
    color: #6B1704;
}

.right-step h2 {
    text-align: left;
    color: #6B1704;
}

.center-step h2 {
    text-align: center;
    color: #6B1704;
}

.left-step p {
    color:#8C614B;
    font-family: roboto, sans-serif;
    padding-top: 15px;    
}

.right-step p {
    color:#8C614B;
    font-family: roboto, sans-serif;
    padding-top: 15px;    
}

.center-step p {
    color:#8C614B;
    font-family: roboto, sans-serif;
    padding-top: 15px;    

}
/* 
#left-step-text {
    font-size: 130%;
    font-family: lato, sans-serif;
    letter-spacing: 4px;
    
    width: 300px;
    height: 150px;
    
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(95, 15, 2, .7);

    bottom: 100px;
    right: 75px;

} */


/* footer  */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    float: left;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #192e44;
}
